/* Dantton Lavigne de Araújo Pinheiro (200036585) */

font-size: 15px;
text-align: center;

margin: 40px 19px 0px 19px;
border: 10px dashed lightblue;
padding: 10px;

color: yellow;
background-color: black;

/* Dantton Lavigne de Araújo Pinheiro (200036585) */